body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}

.svg-wrapper {
    position: absolute;
    top: 24px;
    left: 16px;
    width: 100%;
    height: 100%;
}

.poster {
    /*width: 342px;*/
    /*height: 513px;*/
    width: 256px;
    height: 384px;
    /*width: 185px;*/
    /*height: 278px;*/
}
