{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
    {% if current_user.is_anonymous %}
        <div class="hero h-screen"
             style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
            <div class="hero-overlay bg-opacity-60"></div>
            <div class="hero-content text-center text-neutral-content">
                <div class="max-w-md">
                    <h1 class="mb-5 text-5xl font-bold">Oops, it seems like you're not logged in...</h1>
                    <p class="mb-5">Make sure to register with Movie Reviews to stay caught up with new releases and see
                        what's trending.</p>
                    <button class="btn btn-primary">
                        <a href="{{ url_for("register") }}">Register</a>
                    </button>
                </div>
            </div>
        </div>
    {% else %}
        <h2>Popular Movies</h2>
        <div class="carousel carousel-center max-w-full p-4 space-x-4 bg-neutral rounded-box">
            {% for movie in popular_movies %}
                {% if movie.poster_path != None and movie.backdrop_path != None %}
                    <div class="carousel-item">
                        {#                    <a href="{{ url_for("movie", movie_id=movie.id) }}">#}
                        {#                    <a href="{{ url_for("index") }}">#}
                        {#                        <img src="{{ "https://image.tmdb.org/t/p/w342//" + movie.poster_path }}" class="rounded-box poster" alt=""/>#}
                        {#                    </a>#}
                        <button onclick="modal_{{ movie.id }}.showModal()">
                            <img src="{{ "https://image.tmdb.org/t/p/w342//" + movie.poster_path }}"
                                 class="rounded-box poster" alt=""/>
                        </button>
                        <dialog id="modal_{{ movie.id }}" class="modal">
                            <div class="modal-box">
                                <form method="dialog">
                                    <img src="{{ "https://image.tmdb.org/t/p/w780//" + movie.backdrop_path }}" alt=""/>
                                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                </form>

                                <h3 class="font-bold text-lg">{{ movie.title }}</h3>
                                <p class="py-4">{{ movie.overview }}</p>
                            </div>
                        </dialog>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
        <br>
        <h2>Blockbuster Movies</h2>
        <div class="carousel carousel-center max-w-full p-4 space-x-4 bg-neutral rounded-box">
            {% for movie in blockbuster_movies %}
                {% if movie.poster_path != None %}
                    <div class="carousel-item">
                        <button onclick="modal_{{ movie.id }}.showModal()">
                            <img src="{{ "https://image.tmdb.org/t/p/w342//" + movie.poster_path }}"
                                 class="rounded-box poster" alt=""/>
                        </button>
                        <dialog id="modal_{{ movie.id }}" class="modal">
                            <div class="modal-box">
                                <form method="dialog">
                                    <img src="{{ "https://image.tmdb.org/t/p/w780//" + movie.backdrop_path }}" alt=""/>
                                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                </form>

                                <h3 class="font-bold text-lg">{{ movie.title }}</h3>
                                <p class="py-4">{{ movie.overview }}</p>
                            </div>
                        </dialog>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

        <h2>Classic Movies</h2>
        <div class="carousel carousel-center max-w-full p-4 space-x-4 bg-neutral rounded-box">
            {% for movie in classic_movies %}
                {% if movie.poster_path != None %}
                    <div class="carousel-item">
                        <button onclick="modal_{{ movie.id }}.showModal()">
                            <img src="{{ "https://image.tmdb.org/t/p/w342//" + movie.poster_path }}"
                                 class="rounded-box poster" alt=""/>
                        </button>
                        <dialog id="modal_{{ movie.id }}" class="modal">
                            <div class="modal-box">
                                <form method="dialog">
                                    <img src="{{ "https://image.tmdb.org/t/p/w780//" + movie.backdrop_path }}" alt=""/>
                                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                </form>

                                <h3 class="font-bold text-lg">{{ movie.title }}</h3>
                                <p>Year released: {{ movie.release_date }}</p>
                                <p>Runtime: {{ movie.runtime }} min</p>
                                <p class="py-4">{{ movie.overview }}</p>
                                <p class="py-4">Genres: {{ movie.get_genres_string() }}</p>
                            </div>
                        </dialog>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

    {% endif %}

    {#    {% for foo in stuff %}#}
    {##}
    {#    {% endfor %}#}


{% endblock %}